
input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.radio:checked::after {
  background-color: #EED3B1; /* Default checked color */
}

.dark .radio:checked::after{
  background-color: #614318; /* Dark theme color */
}


.slider {
  background-color:#92b38f;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 1px;
  bottom: 2px;
  border-radius: 50%;
  background-color: rgb(7, 77, 7);
  -webkit-transition: .4s;
  transition: .4s;
}

 input:checked + .slider {
  background-color: #2f452d;
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: rgb(97, 129, 92);
}

input {
  border-radius: 10px;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}